doctype html
html
	head
		style
			include ../public/css/stylesheet.css
			include ../public/js/javascript.js
		title Animal
	body
		h1 Animal Game
		div(class='picture')
			img(class='animals', src='../img/animals.png')

		div(class='test')
			form(class='animal' action='/animal', method='post', autocomplete='off')
				fieldset
					legend What did you just see? Fill in the blanks. 
					input(type='text', name='answer')
					br
					input(type='text', name='answer')
					br
					input(type='text', name='answer')
					br
					input(type='text', name='answer')
					br
					input(type='text', name='answer')
					br
					input(type='submit', value='Check your answers')
		


