doctype html
html
	head
		style
			include ../public/css/animal.css

		
		title Animal
	body
		h1 Animal Game
			img(class='animals', src='../img/animals.png')
			img(class='hide', src='../img/test.png')

			div(class='test')
				form(class='animal' action='/animal', method='post', autocomplete='off')
					fieldset
						legend Which five animals did you see? Fill in the blanks. 
						input(type='text', name='answer1')
						br
						input(type='text', name='answer2')
						br
						input(type='text', name='answer3')
						br
						input(type='text', name='answer4')
						br
						input(type='text', name='answer5')
						br
						input(type='submit', value='Check your answers')
		a(href='/') Main page
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script
			include ../public/js/animal.js
