doctype html
html
	head
		style
			include ../public/css/food.css
			include ../public/css/homepage.css
		title Food
	body
		h1 Food Game
			img(class='food', src='../img/food.png')
			img(class='hide', src='../img/test.png')

			div(class='testTwo')
				form(class='food' name='food' action='/food', method='post', autocomplete='off')
					fieldset
						legend Which five foods did you see? Fill in the blanks. 
						input(type='checkbox' name='answer1' onClick='return KeepCount()' value='egg') 
						label egg
						br
						input(type='checkbox', name='answer2' onClick='return KeepCount()' value='burger')
						label burger
						br
						input(type='checkbox' name='answer3' onClick='return KeepCount()' value='pizza')
						label pizza
						br
						input(type='checkbox', name='answer4' onClick='return KeepCount()' value='apple')
						label apple
						br
						input(type='checkbox' name='answer5' onClick='return KeepCount()' value='bread')
						label bread
						br
						input(type='checkbox' name='answer6' onClick='return KeepCount()' value='banana')
						label banana
						br
						input(type='checkbox', name='answer7' onClick='return KeepCount()' value='chocolate')
						label chocolate
						br
						input(type='submit', value='Check your answers')
		a(href='/') Main page
		script
			include ../public/js/checkbox.js
		script(type='text/javascript' src='https://code.jquery.com/jquery-1.12.4.min.js')

