doctype html
html
	head
		title Animal
	body
		h1 Animal Game
		form(class='animal' action='/animal', method='post', autocomplete='off')
			fieldset
				legend What did you just see? Fill in the blanks. 
				input(type='text', name='answer')
				input(type='text', name='answer')
				input(type='text', name='answer')
				input(type='text', name='answer')
				input(type='text', name='answer')

				input(type='submit', value='check your answer')
		


