doctype html
html
	head
		style
			include ../public/css/score04.css

		link(href="https://fonts.googleapis.com/css?family=Monofett" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet")
		title Score
	body
		a(href='/')
			img(class='home' src='../img/home.png' )
		h1 #{message}
		p Your score is: #{result.length} out of 5!


