doctype html
html
	head
		title Memory Game
	body
		h2 Welcome to the Memory Game!
		h3 This game tests your ability to memorize a set of objects on a picture in 20 seconds. After the time is up, you need to name the objects that you saw. The more you got right, the higher the score!
		br
		h4 Please select the game.
		form(action='/' method )
			input(type='button' value='Game 1' onclick='/gameone')
			|
			|
			input(type='button' value='Game 2' onclick='/gametwo')





			