doctype html
html
	head
		style
			include ../public/css/stylesheet.css
		script
		link(href="https://fonts.googleapis.com/css?family=Monofett" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet")
		title Memory Loss
	body
		h2 Memory Loss
		img(class='tweet', src='../img/dizzy.png')
		img(class='tweet2', src='../img/love.png')
		p Oh no! Tweety is suffering from memory loss. <br>Help him find his way back home. <br>Test your memory ability and memorize a set of objects in 10 seconds.<br> With each correct answer,Tweety is one step closer to home.
		div(class='text')
			h4 Bring Tweety home. 
		img(class='start' src='../img/start.png')
		div(class='options')
			h4 Help him with finding:
		br
		div(class='buttons')
			input(class='submit' type='image' src='../img/animalsbut.png' alt='game1' onclick="window.location.href='/animal'")
			input(class='submit2' type='image' src='../img/foodbut.png' alt='game1' onclick="window.location.href='/food'")
		p(íd='type')

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script
			include ../public/js/main.js


