doctype html
html
	head
		style
			include ../public/css/stylesheet.css
		link(href="https://fonts.googleapis.com/css?family=Monofett" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet")
		title Memory Game
	body
		h2 Welcome to the Memory Game!
		img(class='tweet', src='../img/tweet4.png')
		p This game tests your ability to memorize a set of objects on a picture in 20 seconds. After the time is up, you need to name the objects that you saw. The more you get right, the higher the score.
		h4 Choose your weapon:
		br
		div(class='buttons')
			input(id='buttonOne' class='button' type="button" value="Animals" onclick="window.location.href='/animal'")
			|
			|
			input(id='buttonTwo' class='button' type="button" value="Food" onclick="window.location.href='/food'")



			