/* pictures */
.animals {
	width: 90%;
	margin: 1%;
}


.hide {
	width: 90%;
	margin: 1%;
}

h2 {
	font-family: 'Monofett';
	font-size: 50px;
	margin-top: 0;
	margin-left: 10px;
	float: left;

}

.home {
	width: 20%;
	margin-right: 10px;
	margin-top: 5px;
	float: right;
}

.home:hover {
	padding: 2px 0 0 2px;  
	transform: scale(1.1);
}

.help {
	width: 20%;
	margin-right: 10px;
	margin-top: 5px;
	float: right;
}

.help:hover {
	padding: 2px 0 0 2px;  
	transform: scale(1.1);
}

div {
	clear: left;
}

/* instructions */
.tweet {
	width: 80px;
	float: left;
	margin-left: 20%;
}

h5 {
	font-family: 'Patrick Hand SC';
	font-size: 30px;
	text-align: center;
	float: center;
	margin-right: 25%;
}


.start {
	width: 20%;
	margin-left: 40%;
}

.start:hover {
	padding: 2px 0 0 2px;  
	transform: scale(1.1);
}


/* game */
.tweet2 {
	width: 80px;
	padding-left: 15px;
	float: right;
}

.button {
	width: 20%;
	float: right;
}

.button:hover {
	padding: 2px 0 0 2px;  
	transform: scale(1.1);
}



/* form */
p {
	font-family: 'Patrick Hand SC';
	font-size: 30px;
	float: left;
	padding-left: 5%;
}

input {
	margin-left: 30px;
	margin-right: 30px;
	float: center;
}


